{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="content-part"> -->

  <section class="articles">
    {% for item in page_obj.object_list %}
    {% if item.published %}
  <article>
    <div class="article-wrapper">
      {% if item.photo %}
      <figure>
        <img src="{{item.photo.url}}" alt="" />
      </figure>
      {% endif %}
      <div class="article-body">
        <h2>{{item.title}}</h2>
        <p>
          {{item.content|linebreaks|truncatewords:30}}
        </p>
        <a href="{{item.get_absolute_url}}" class="read-more">
          Read more <span class="sr-only"></span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg> <div class="views-container">{{item.views}} <img src="{% static 'view.png' %}" class="view-image"></div>
        </a>
      </div>
    </div>
  </article>
{% endif %}
    {% endfor %}
</section>
{% include 'inc/_pagination.html' %}
{% endblock content %}